
  .contenido{
    padding-top: 60%; 
  }

  .banner{
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 50%";
  
  }

  .tittle{
    font-family: Century Gothic, sans-serif;
    color: white;
    font-size: 80px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e9a72c;
  }

  .box{
    font-family: Century Gothic;
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    margin:auto;
    padding-left: 5%;
    background-color: rgb(229, 219, 157);
}

.box1{
  font-family: Century Gothic;
  font-size: 20px;
  text-align: center;
  padding-bottom: 40px;
  margin:auto;
  padding-left: 5%;
}

.bigger{
  font-size: 30px;
  padding: 20px;
  background-color: rgb(107, 107, 133);
}
.bigger1{
  font-size: 30px;
  padding: 20px;
  background-color: rgb(107, 107, 133);
}

.info{
  padding: 3%;
}

.img{
    width: 100%;
    height: 50%";
}

.skills{
  margin-left: 35%;
}