header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
  }

  nav {
    float: right; /* Desplazamos el nav hacia la izquierda */
  }
   
  nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
  }
   
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 25px;
  }
   
  nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 22px;
    color: #fff;
    text-decoration: none;
  }
   
  nav ul li:hover {
    background: #e9a72c;
  }

  .contenido{
    padding-top: 60%; 
  }

  .bigger{
    font-size: 30px;
  }

  .banner{
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 50%";
  
  }

  .tittle{
    font-family: Century Gothic, sans-serif;
    color: white;
    font-size: 80px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e9a72c;
  }

  .box{
    font-family: Century Gothic;
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
    margin:auto;
    padding-left: 5%;
}

.info{
  padding: 3%;
}